* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
    --secondary-color: #000958;
    --text-color: #656689;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 1;
}

body {
    background-color: #FFFAF5;
}

/* ============ Common ================ */

.heading {
    color: var(--secondary-color);
    font-family: 'Sora', sans-serif;
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 1.2;
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 18px 32px;
    border-radius: 999px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

/* =============== Header ================= */

.header {
    padding: 26px 0;
}

.container {
    min-width: 1170px;
    padding: 0 135px;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__item a {
    padding: 10px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar__item a:hover {
    color: var(--secondary-color);
}

/* ======== Hero ============== */

.hero {
    height: calc(100vh - 104px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.hero__media {
    position: relative;
    display: flex;
}

.hero__img-wrap {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background-color: #FE997B;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero__decor-left,
.hero__decor-right {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -40px;
    top: 16.66px;
}

.hero__img-wrap-small {
    margin-left: -20px;
    margin-top: 302px;
    width: 186px;
    height: 244px;
    border: 2px solid rgb(254 242 239);
    background: #FAA7AD;
}

/* Hero list */

.hero__list {
    position: absolute;
    bottom: -35px;
    left: 129px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__list-item {
    display: flex;
    align-items: center;
}

.hero__list-item:last-child .hero__list-item__thumb {
    background-color: #6597C2;
}

.hero__list-item__thumb {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero__list-item__title {
    color: #181E52;
    font-family: 'Sora', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.07999999821186066;
    background: #000958;
}

.hero__list-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;
    border-radius: 99px;
}

.hero__content {
    max-width: 517px;
}

.hero__heading {
    font-size: 6.6rem;
    line-height: 1.15;
}

.hero__desc {
    margin: 24px 0 38px;
    max-width: 391px;
}

.hero__btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 999px;
    background-color: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn-icon {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
}

.hero__schedule-link {
    display: inline-block;
    margin-left: 24px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}

/* ======== About =========== */

.about {
    margin: 77px 0;
    padding: 53px 0 60px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5E6085;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.about__heading {
    max-width: 520px;
    margin-top: 15px;
    margin-bottom: 24px;
}

.about__desc {
    margin-bottom: 54px;
    max-width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #FF5D31;
}

.about__check-item::after {
    position: absolute;
    top: calc(50% - 8px);
    left: 3px;
    content: url(../icon/Check.svg);
    display: inline-block;
}

/* About media row 1 */

.about__card {
    position: absolute;
    top: 157px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background-color: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card__title {
    margin-bottom: 14px;
    color: #FFF;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
}

.about__card__desc {
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.429;
}

.about__card__decor {
    position: absolute;
    right: -30px;
    top: -40px;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -50px;
}

.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    margin: 0 auto;
    width: 450px;
    display: block;
}

/* About media 2 */

.about__img-wrap-bottom {
    width: 458px;
    margin-right: auto;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

/* Decorators */
.about__decorator-img {
    position: absolute;
}

.about__decorator-img:nth-child(1) {
    top: 12px;
    right: 64px;
}

.about__decorator-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decorator-img:nth-child(3) {
    top: 33px;
    right: -24px;
}

.about__decorator-img:nth-child(4) {
    top: 285px;
    right: -36px;
}

.about__decorator-img:nth-child(5) {
    top: 336px;
    right: 16px;
}

.about__decorator-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

/* About content */

.about__heading-bottom {
    max-width: 543px;
}

.about__desc-bottom {
    margin-top: 24px;
    margin-bottom: 52px;
    max-width: 511px;
}

.tab__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab__list::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    opacity: 0.07000000029802322;
    background: #FF5B2E;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    color: #48496A;
    font-family: 'Sora', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.tab__item-active::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    border-radius: 99px;
    background: #FF5B2E;
    z-index: 99;
}

.tab__icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.tab__contents {
    margin-top: 46px;
}

.tab__content-item {
    display: none;
}

.tab__content-item-active {
    display: block;
}

.tab__content-desc {
    margin-bottom: 32px;
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.174;
}

.tab__content-more {
    position: relative;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.15s;
}

.tab__content-more:hover {
    padding-bottom: 5px;
}

.tab__content-more::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background-color: #FF5B31;
}

/* ============================= Service ========================= */

.service {
    padding: 68px 0 100px;
    background-color: #FFF6ED;
}

.service__label {
    color: var(--text-color);
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.service__heading {
    margin-top: 15px;
    margin-bottom: 71px;
    text-align: center;
}

.service__inner {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: space-between;
}

.service__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.service__list-right {
    margin-left: auto;
}

.service__item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background-color: #fff;
}

.service-item__title {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--secondary-color);
    font-family: 'Sora', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__title::before {
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    border-radius: 99px;
    background: linear-gradient(63deg, #FF5B2E 0%, #FFA187 100%);
}

.service-item__desc {
    margin-top: 18px;
    margin-bottom: 24px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71429;
    /* 171.429% */
}

.service-item__read-more {
    display: flex;
    align-items: center;
    color: #34396A;
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.service-item__read-more::after {
    content: url(../icon/ArrowUpRight.svg);
    display: inline-block;
    margin-left: 6px;
}

.service-item__read-more:hover {
    text-shadow: 0px 0px 1px #34396A;
}

.service__center {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__image-wrap {
    position: relative;
    width: 447px;
    height: 621px;
}

.service__image-wrap::after {
    position: absolute;
    left: calc(50% - 205px);
    bottom: 0;
    content: "";
    display: block;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 100%);
    z-index: 1;
}

.service__img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
}

.service-cta {
    margin-top: 45px;
    padding: 20px 40px;
    color: #FF5B2E;
    font-size: 1.6rem;
    border-color: #FF5B2E;
}

/* ===================== Purchase ========================= */

.purchase {
    padding: 86px 0;
    background-color: #FFF6ED;
}

.purchase__heading {
    text-align: center;
}

.purchase__desc {
    margin: 24px auto 38px;
    max-width: 709px;
    text-align: center;
}

.purchase__switch-toggle-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 56px;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid var(--primary-color);
}

.purchase__switch-toggle-btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.purchase__switch-toggle-btn-item-active {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 99px;
}

.purchase__switch-toggle-btn-item__img-decor {
    position: absolute;
    right: -110px;
    top: -10px;
}

.purchase__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase__item {
    padding: 30px 28px 43px;
    width: 302px;
    border-radius: 20px;
    background: #FFF;
}

.purchase-item__member {
    margin-bottom: 8px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.purchase-item__title {
    margin-bottom: 24px;
    color: #3F4065;
    font-family: 'Sora', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.purchase-item__price {
    margin-bottom: 22px;
    display: block;
    color: var(--secondary-color);
    font-family: 'Sora', sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 700;
}

.purchase-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    padding: 14px 0px;
    font-size: 1.6rem;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background-color 0.3s ease-in-out;
}

.purchase-item-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.purchase-item__interest-item {
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

.purchase-item__interest-item::before {
    content: url(../icon/Check-non-active.svg);
    margin-right: 12px;
}

.purchase-item__interest-item.active::before {
    content: url(../icon/Check-active.svg);
}

/* =============== Blog ================= */

.blog {
    margin: 130px 0;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}

.blog__column {
    margin-right: 90px;
}

.blog__desc {
    margin-bottom: 24px;
    max-width: 350px;
}

.blog__btn {
    padding: 20px 40px;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.blog__image {
    padding-top: 24px;
    padding-left: 36px;
    border-radius: 24px;
    background-color: #90CCFF;
}

.blog-datetime {
    color: #FFF;
    font-family: 'Sora', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21429;
    /* 121.429% */
}

.blog__img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__heading {
    margin-top: 28px;
    margin-bottom: 16px;
    color: var(--secondary-color);
    font-family: 'Sora', sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.54545;
    /* 154.545% */
}

.blog__desc {
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429;
    /* 171.429% */
}

/* =============== Footer =================== */

.footer {
    background-color: #FFF6ED;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .column__left {
    width: 40%;
}

.footer__logo {
    margin-bottom: 35px;
}

.footer__form {
    position: relative;
    display: flex;
    margin-bottom: 68px;
}

.footer__email-input {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 16px 22px 16px;
    padding-right: 62px;
    min-width: 268px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 999px;
    outline: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.167;
    background-color: transparent;
}

.footer-btn {
    position: absolute;
    top: 0;
    left: 220px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    outline: none;
}

.footer__heading {
    color: var(--secondary-color);
    font-family: 'Sora', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
}

.social__list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 55px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}

.column__right {
    position: relative;
    flex-grow: 1;
    background-color: #FFFAF5;
    padding-bottom: 48px;
}

.column__right::after {
    position: absolute;
    top: 0;
    right: -135px;
    content: "";
    width: 135px;
    height: 100%;
    background-color: #FFFAF5;
}

.footer__list__outer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 58px;
    padding: 52px 48px 52px 130px;
}

.footer__list .footer__heading {
    margin-bottom: 14px;
}

.footer-item a,
.footer-item {
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.copyright {
    margin-left: 22px;
}